.control__btn:hover {
    transform: scale(1.1)
}

.control__btn {
    border: none;
    background: white;
    padding: 0;
    border-radius: 75% 0 0 75%;
}

.control__btn_1:hover {
    transform: scale(1.1)
}

.control__btn_1 {
    border: none;
    background: white;
    padding: 0;
    border-radius: 0 75% 75% 0;
}

.counter_div {
    width: 500px;
}


